.y {
    height: 1507px;
}

.grid {
    min-height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    margin: 15px;
    border-radius: 10px;
}

#img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
div{
    display: block;
}