/* .t{
    height: 910px;
} */
.images {
    display: inline-flex;
}

.d {
    background: linear-gradient(90deg, #1199fa, #11d0fa);
}

.col {
    display: inline-flex;
    overflow: hidden;
    height: 350px;
    width: 150px;
    /* padding-left: 30px; */
}

.u {
    height: 937px;
}

.img1 {
    border-radius: 50%;
    /* object-fit: cover; */
}

.row {
    overflow: hidden;
}

.yy {
    display: inline-flex;
    font-size: small;
    margin-left: 70px;
}

.img2 {

    box-sizing: border-box;
    margin: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100px;
    height: 250px;
    border-radius: 50%;
}

.tx {
    height: 400px;
    overflow: hidden;
    margin-right: 600px;
    padding-left: 100px;
    display: block;

}

.spline {
    overflow: hidden;
    margin-top: -240px;
}
.c{
    border:1px solid blue;
    overflow: hidden;
display: inline-block;
}
.x{
    align-items: center;
    display: flex;
    margin-right: 290px;
}
#tokenName{
    background: none;
}
#tokenUnit{
    background: none;
}

#totalsupply{
    background: none;
}

#URL{
    background: none;
}
#image{
    background: none;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

#spinnerr{
    /* background-color: aliceblue; */
    position: absolute;
    padding-left: 620px;
    top: 80px;
}